.order-input {
    display: grid;
    grid-gap: 1.0em;
    padding: 2.0em;
    margin: auto;
    font-size: 0.7em;
}

.order-input input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1.5em 2.0em;
    font-size: 0.7em;
    outline: none;
}
.order-input button{
    width: 100px;
    height: 40px;
    margin: 0 auto;
}
.btn_success{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.5em 2.0em;
    font-size: 0.7em;
    outline: none;
    margin: 0 5px;
}
.btn_danger{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.5em 2.0em;
    font-size: 0.7em;
    outline: none;
    margin: 0 5px;
}