.order_list {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.order_status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.order_list_page button{
    width: fit-content;
    height: fit-content;
    background: #000;
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    margin: 3px;
}
.order_list_page{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* flex-direction: column; */
}