@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'HallymGothic-Regular';
}

html {
    font-size: 16px;
}

body,
h1,
p,
li,
ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    direction: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.swal2-title{
    font-size: 1.0em;
}
